@import "tailwindcss";

/* 스크롤은 가능하지만 스크롤바는 안 보이게 */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@theme {
  /* grayscale */
  --color-grayscale-50: #fafafa;
  --color-grayscale-100: #f5f5f5;
  --color-grayscale-200: #eeeeee;
  --color-grayscale-300: #e0e0e0;
  --color-grayscale-400: #bdbdbd;
  --color-grayscale-500: #9e9e9e;
  --color-grayscale-600: #7f7f7f;
  --color-grayscale-700: #616161;
  --color-grayscale-800: #424242;
  --color-grayscale-900: #222222;

  /* basic */
  --color-basic-100: #ffffff;
  --color-basic-900: #000000;

  /* alpha */
  --color-alpha-black-50: #00000080;
  --color-alpha-black-10: #0000001a;
  --color-alpha-white-95: #fffffff2;
  --color-alpha-black-38: #00000061;

  --color-alpha-pink-70: #ff5e80b3;
  --color-alpha-pink-52: #ff5e8085;
  --color-alpha-pink-16: #ff5e8029;

  --color-alpha-yellow-70: #fea642b3;
  --color-alpha-yellow-52: #fea64285;
  --color-alpha-yellow-16: #fea64229;

  --color-alpha-green-70: #2cdea7b3;
  --color-alpha-green-52: #2cdea785;
  --color-alpha-green-16: #2cdea729;

  --color-alpha-gray-70: #616161b3;
  --color-alpha-gray-52: #61616185;
  --color-alpha-gray-16: #61616129;

  --color-alpha-brand-20: #fe5e2933;

  /* red */
  --color-red-400: #ff5833;
  --color-red-500: #f60f33;

  /* orange */
  --color-orange-50: #ffe6db;
  --color-orange-500: #fe5e29;

  /* Pink */
  --color-pink-500: #ff5e80;

  /* Yellow */
  --color-yellow-500-alt: #fea642;

  /* Green */
  --color-green-500: #2cdea7;

  /* text */
  --color-text-primary: var(--color-grayscale-900);
  --color-text-tertiary: var(--color-grayscale-700);
  --color-text-quaternary: var(--color-grayscale-500);
  --color-text-inverse: var(--color-basic-100);
  --color-text-secondary: var(--color-grayscale-800);
  --color-text-error: var(--color-red-500);
  --color-text-disabled: var(--color-grayscale-600);
  --color-text-placeholder: var(--color-grayscale-400);
  --color-text-brand: var(--color-orange-500);

  /* surface.bg */
  --color-surface-bg-page: var(--color-basic-100);
  --color-surface-bg-modal-sheet: var(--color-basic-100);

  /* surface.container */
  --color-surface-container-default: var(--color-basic-100);
  --color-surface-container-brand-1: var(--color-orange-500);
  --color-surface-container-chat-header: var(--color-alpha-white-95);
  --color-surface-container-brand-2: var(--color-orange-50);
  --color-surface-container-searchbar-default: var(--color-grayscale-100);

  /* surface.overlay */
  --color-surface-overlay-dim-modal-sheet: var(--color-alpha-black-50);

  /* state.interacion.container */
  --color-state-interacion-container-hover-pressed: var(--color-alpha-black-10);
  --color-state-interacion-container-default: var(--color-basic-100);
  --color-state-interacion-container-disabled: var(--color-grayscale-300);
  --color-state-interacion-container-error: var(--color-red-500);
  --color-state-interacion-container-bubble-default: var(--color-grayscale-100);

  /* state.interacion.border */
  --color-state-interacion-border-error: var(--color-red-500);
  --color-state-interacion-border-focus: var(--color-grayscale-800);

  /* state.status.container */
  --color-state-status-container-new: var(--color-orange-500);

  /* state.zone.pink */
  --color-state-zone-pink-primary: var(--color-alpha-pink-70);
  --color-state-zone-pink-secondary: var(--color-alpha-pink-52);
  --color-state-zone-pink-tertiary: var(--color-alpha-pink-16);

  /* state.zone.green */
  --color-state-zone-green-primary: var(--color-alpha-green-70);
  --color-state-zone-green-secondary: var(--color-alpha-green-52);
  --color-state-zone-green-tertiary: var(--color-alpha-green-16);

  /* state.zone.yellow */
  --color-state-zone-yellow-primary: var(--color-alpha-yellow-70);
  --color-state-zone-yellow-secondary: var(--color-alpha-yellow-52);
  --color-state-zone-yellow-tertiary: var(--color-alpha-yellow-16);

  /* state.zone.gray */
  --color-state-zone-gray-primary: var(--color-alpha-gray-70);
  --color-state-zone-gray-secondary: var(--color-alpha-gray-52);
  --color-state-zone-gray-tertiary: var(--color-alpha-gray-16);

  /* state.zone.brand */
  --color-state-zone-brand-primary: var(--color-orange-500);
  --color-state-zone-brand-secondary: var(--color-alpha-brand-20);

  /* line.border */
  --color-line-border-secondary: var(--color-grayscale-200);
  --color-line-border-primary: var(--color-grayscale-300);

  /* line.divider */
  --color-line-divider-primary: var(--color-grayscale-100);

  /* icon.container */
  --color-icon-container-null: var(--color-grayscale-200);
  --color-icon-container-secondary: var(--color-grayscale-600);
  --color-icon-container-tertiary: var(--color-grayscale-400);
  --color-icon-container-brand: var(--color-orange-500);
  --color-icon-container-primary: var(--color-grayscale-900);

  /* icon.border */
  --color-icon-border-primary: var(--color-grayscale-900);
  --color-icon-border-secondary: var(--color-grayscale-500);
  --color-icon-border-brand: var(--color-orange-500);
}
